@import url("http://fonts.googleapis.com/css?family=OpenSansCondensed");
body {
  font-family: "Open Sans Condensed" sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: #2c3e50;
}
nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1;
          flex: 1 1 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
a {
  font-size: 0.7rem;
  text-decoration: none;
  padding: 1rem;
  background: #34495e;
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  display: inline-block;
}
a:hover {
  -webkit-animation: rotateLink 0.5s cubic-bezier(0.53, 0.23, 0.61, 1.25) forwards;
          animation: rotateLink 0.5s cubic-bezier(0.53, 0.23, 0.61, 1.25) forwards;
  background: #233140;
  color: #fff;
}
a:active {
  background: #1a242f;
}
a:first-child {
  border-radius: 2rem 0 0 2rem;
  padding-left: 2rem;
}
a:last-child {
  border-radius: 0 2rem 2rem 0;
  padding-right: 2rem;
}
@-webkit-keyframes rotateLink {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@keyframes rotateLink {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
